*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
body{
    background-color: black;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    position: absolute;
    width:100%;
    z-index: 5;
}

header .logo svg{
    fill: #e50914;
    height: 37px;

}

header div+div{
    text-align: right;
}

header a.signin_button{
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
    display: inline-block;
}

header select{
    background-color: transparent;
    color: #fff;
    font-size: 14.5px;
    padding: 6px 0px 10px 25px;
    border-radius: 2px;
}

header div.select{
    display: inline-block;
    margin-right: 30px;
}

header div.select svg{
    height: 19px;
    fill: #fff;
    position: absolute;
    margin-top: 6.8px;
    margin-left: 5px;
}

div.splash {
    position: relative;
}

div.splash div.gradient{
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 40%,transparent 75%,rgba(0,0,0,.8));
    position: absolute;
    inset:0;
}

div.splash div.background img{
    max-width: 100%;
    opacity: 0.6;
}

div.splash div.GetStarted{
    max-width: 625px;
    position: absolute;
    inset:0;
    left: 50%;
    margin-left: -312.5px;
    display:grid;
    align-items:center;
    text-align: center;
}

div.splash h1{
    font-size: 3.125rem;
}

div.splash h2{
    font-size: 1.625rem;
    margin-top:13px;
    margin-bottom:29px;
    font-weight: normal;
}

div.splash h3{
    font-size: 1.2rem;
    font-weight:400;
}

div.cta form{
    position: relative;
    margin:20px;
    display:grid;
    grid-template-columns: 1fr max-content;

}

div.cta input{
    padding: 15px 10px;
    font-size: 1.2rem;
    width:100%;
}

div.cta button{
    border-left: grey;
    padding: 12.189px 26px;
    background-color: #e50914;
    color: white;
    font-size: 1.625rem;
    border:0;
    border-radius: 0px 1px 1px 0px;
    box-shadow: 100px;
}

div.cta input ~ span{
    position:absolute;
    left: 12px;
    top: 19px;
    z-index: 3;
    color: rgb(143, 143, 143);
    transition: all 0.1s ease;
    pointer-events: none;
}

div.cta input:focus{
    padding-top: 19px;
    padding-bottom: 11px;
}

div.cta input:focus ~span {
    top: 2px;
    font-size:.8rem;
    font-weight: 500;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 50px 45px;
    align-items: center;
    width: 100%;
    border-top: 8px solid #222;
}

section div.texts h1{
    font-size: 3.125rem;
    margin-bottom: 8px;
}

section div.texts p{
    font-size: 1.625rem;
    margin-bottom: 8px;
}

.media{
    position: relative;
}

.media.s1 img{
    width:400px;
}

.media.s1 video{
    width: 293px;
    position: absolute;
    top:62px;
    left: 51.5px;
    z-index: -2;
}

section:nth-child(even) div.texts{
    order: 2;
}

section div.downloading{
    border: 1.5px solid #666;
    border-radius: 15px;
    padding:10px;
    height: 95px;
    display: grid;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 270px;
    bottom: 20px;
    left: 50%;
    margin-left: -135px;
    background-color: black;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr 1fr;
}

section div.downloading img {
    height: 75px ;
    width: auto;
}

section div.downloading span div.Dtext {
    color: #0071eb;
    text-align: left;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}

section div.downloading span div.Ctext {
    width: 200px;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding: 0px 0px 0px 10px;
}

section div div.downloading img.download {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 50%;
    margin-right: -118px;
}

.media.s2 video{
    width: 250px;
    position: absolute;
    top:32px;
    left: 75px;
    z-index: -2;
}

section.last{
    border-bottom: 8px solid #222;
}

div.faq{
    padding: 70px 30px;
}
div.faq h1{
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 40px;
}

div.questions {
    max-width: 635px;
    margin: 0 auto;
    font-size: 1.625rem;
    margin-bottom: 10px;
}

div.Q {
    position: relative;
    background-color: #303030;
}

div.Q svg{
    width: 30px;
    height: 30px;
    right:30px;
    top: 20px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

div.Q .header{
    display: block;
    padding: 20px 30px;
    border-bottom: 10px solid black;
    cursor: pointer;
}

div.Q div.content{
    padding: 0px 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;;
}

div.Q input[type="checkbox"]{
    display: none;
}

div.Q input[type="checkbox"]:checked ~ div.content{
    padding: 30px 30px;
    max-height: 600px;
}

div.Q input[type="checkbox"]:checked ~ .header svg{
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

div.Q input[type="checkbox"]:checked ~ .header{
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
}

div.faq form{
    max-width: 635px;
    margin: 0 auto;
}

div.faq h3{
    font-weight: normal;
    font-size:25px;
    text-align: center;
    width: 480px;
    margin: 30px 225px 20px;
}